@use 'scss/default' as def;
@use 'scss/flex' as fx;
@use 'scss/components' as cm;

html {
  height: 100vh;
  width: 100vw;
}

body {
  @extend .f;
  @extend .f-col;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
